<nav class="menu">
  <div class="bubble-container">
    <span class="anim-bubble"></span>
    <span class="anim-bubble"></span>
  </div>
  <%= link_to "Add a task", new_task_path , class:"add-task" %>
</nav>